/*
font-family: 'Roboto Condensed', sans-serif;
font-size: 35px;
font-family: 'Cabin', sans-serif;
font-size: 16px;
*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.heading-primary {
  margin-bottom: 3rem;
  z-index: 1; }
  .heading-primary--main {
    font-size: 3.4rem;
    color: #293f5b;
    letter-spacing: .5rem;
    display: block;
    font-weight: 400;
    margin-bottom: 2.5rem;
    text-transform: capitalize; }
  .heading-primary--sub {
    font-size: 2.4rem;
    color: #4f5c6b;
    letter-spacing: .4rem;
    display: block;
    font-weight: 400;
    text-transform: none; }

.heading__info {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none; }

.paragraph {
  font-size: 2.2rem;
  color: #707070;
  font-weight: 400;
  line-height: 2.5rem; }
  .paragraph--white {
    color: #fff; }
  .paragraph--sub {
    font-size: 1.9rem; }
  .paragraph--copyright {
    font-size: 1.9rem;
    text-align: center;
    margin-top: 2.4rem; }

.u-margin-bottom {
  margin-bottom: 4rem; }

.u-margin-bottom--small {
  margin-bottom: 2rem; }

.u-margin-bottom--big {
  margin-bottom: 8rem; }

.u-margin-top {
  margin-top: 4rem; }

.u-padding-right {
  margin-right: 1rem; }

.u-center {
  text-align: center; }

.u-half-width {
  width: 50%;
  margin: auto; }

.margin-auto {
  margin: auto; }

.color-white {
  color: #fff; }

.about {
  height: 60rem;
  display: flex;
  justify-content: space-between; }
  .about-heading {
    font-size: 3.8rem;
    color: #293f5b;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2rem; }
  .about__img {
    /*width: 30%;
        background-image:
        linear-gradient(to right, 
        rgba($color-white, .1), 
        rgba($color-white, .1)),
         url(../img/about.jpg);
         background-position: center;
         background-size: cover;
         height: 100%;*/
    height: 60rem;
    width: 45%; }
    .about__img-box {
      height: 60rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap; }
    .about__img--main {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(../img/about.jpg);
      background-position: center;
      background-size: cover;
      height: 100%;
      width: 50%;
      margin-right: 2rem; }
    .about__img--sub {
      width: 50%;
      height: 60rem; }
      .about__img--sub-one {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(../img/about.jpg);
        background-position: center;
        background-size: cover;
        height: 30rem;
        width: 100%;
        margin-bottom: 1rem; }
      .about__img--sub-two {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(../img/about.jpg);
        background-position: center;
        background-size: cover;
        height: 29rem;
        width: 100%; }
  .about__info {
    width: 50%;
    height: 60rem;
    display: flex;
    align-content: center;
    flex-direction: column; }
    .about__info-heading--top {
      font-size: 2.1rem;
      color: #293f5b;
      text-transform: capitalize;
      margin-bottom: 1.2rem;
      font-weight: 600; }
    .about__info-heading--main {
      font-size: 3.2rem;
      color: #293f5b;
      text-transform: capitalize;
      margin-bottom: 1rem; }
    .about__info-heading--sub {
      font-size: 2rem;
      color: #293f5b;
      text-transform: capitalize;
      margin-bottom: 1rem;
      font-weight: 600; }
    .about__info-block {
      margin-top: 2rem;
      height: 32rem;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: space-between; }
      .about__info-block--content {
        width: 45%; }

.button:link, .button:visited {
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  box-shadow: 0 1.5rem 4rem rgba(255, 255, 255, 0.15);
  transition: all .2s ease; }

.button--orange {
  background-color: #0e97a6;
  color: #fff; }

.button--border {
  border: 1px solid #0e97a6;
  color: #0e97a6; }

.button__more {
  text-transform: capitalize;
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  color: #5d95d8;
  font-weight: 600; }
  .button__more i {
    padding-right: .5rem;
    transition: all .2s ease; }
  .button__more:hover i {
    padding-right: .8rem; }
  .button__more:active i {
    padding-right: .5rem; }

.detail {
  display: flex;
  justify-content: center; }
  .detail--one {
    margin-bottom: 8rem; }
  .detail__box {
    width: 24%;
    text-align: center;
    background-color: #fff; }
    .detail__box--service {
      padding: 3rem 1.5rem;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .detail__box-image {
      background-size: cover;
      background-position: top;
      width: 17rem;
      height: 17rem;
      display: block;
      border-radius: 50%;
      margin: 0 auto 2rem; }
      .detail__box-image--one {
        background-image: url("../img/call.jpg"); }
      .detail__box-image--two {
        background-image: url("../img/team.jpg"); }
      .detail__box-image--three {
        background-image: url("../img/cleaned.jpg"); }
      .detail__box-image--service {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        margin-bottom: 2rem; }
        .detail__box-image--service-one {
          background-image: url("../img/house.jpg"); }
        .detail__box-image--service-two {
          background-image: url("../img/moving.jpg"); }
        .detail__box-image--service-three {
          background-image: url("../img/fumigation.jpg"); }
        .detail__box-image--service-four {
          background-image: url("../img/garbage.jpg"); }
        .detail__box-image--service-five {
          background-image: url("../img/construction.jpg"); }
        .detail__box-image--service-six {
          background-image: url("../img/laundry.jpg"); }
    .detail__box-heading {
      color: #293f5b;
      font-size: 2rem;
      display: inline-block;
      line-height: 4.4rem;
      font-weight: 600;
      text-transform: capitalize; }
      .detail__box-heading ~ i {
        display: block;
        margin-bottom: 2.3rem;
        color: #5d95d8; }
    .detail__box-paragraph {
      color: #696b6f;
      font-size: 1.65rem;
      font-weight: 700; }
    .detail__box--one {
      margin-right: 3.5rem; }
    .detail__box--two {
      margin-right: 3.5rem; }

.heading-box {
  padding: 0 0 6rem;
  margin: auto;
  text-align: center;
  width: 80%; }
  .heading-box__sub {
    font-size: 1.6rem;
    color: #a5afb1; }
    .heading-box__sub--white {
      color: #fff; }
  .heading-box__main {
    font-size: 3.2rem;
    color: #5d95d8;
    text-transform: capitalize; }
    .heading-box__main--white {
      color: #fff; }

.info {
  display: flex;
  justify-content: center; }
  .info-box {
    width: 21%;
    padding: 4.6rem 5rem;
    text-align: center;
    border-radius: 5px; }
    .info-box__one {
      background-color: #54a4dc;
      margin-right: 2rem; }
    .info-box__two {
      background-color: #ffbf37;
      margin-right: 2rem; }
    .info-box__three {
      background-color: #46c6ce; }
    .info-box i {
      display: block;
      color: #fff;
      font-size: 5rem;
      margin-bottom: 1.5rem; }
    .info-box__title {
      color: #fff;
      font-size: 2rem;
      line-height: 4rem;
      font-weight: 400;
      font-style: italic; }

.strength {
  height: 55rem;
  display: flex;
  justify-content: space-between;
  /*&__image{
        background-image:
        linear-gradient(to right, 
        rgba($color-white, .1), 
        rgba($color-white, .1)),
        url(../img/about.jpg);
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 35%;
    }*/ }
  .strength-heading {
    font-size: 3.8rem;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2rem; }
  .strength-heading--sub {
    font-size: 2.2rem;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-weight: 600; }
  .strength__content {
    width: 100%;
    height: 60rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between; }
    .strength__content-box {
      width: 30%; }

.text-box {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 35%; }
  .text-box--contact {
    text-align: left;
    padding: 1rem 0rem;
    width: 70%; }

.story-text {
  width: 90%; }

/*.header{
    

    &__contact{
        height: 8vh;
        background-color: #5ebed6;
        padding: 0 5rem;
        display: flex;
        flex-wrap: wrap;
        align-content: center;


        &-socials{
            
            //padding: 1.5rem 0;

            i{
                color: #c6ceec;
                font-size: 1.6rem;
                margin-right: .8rem;
            }
        }

        &--day{
            color: #c6ceec;
            font-size: 1.6rem;
        }

        &-location{
            //height: 100%;
            margin-right: auto;
        }
    }


    &__navigation{
        
        //z-index: 1;
        background-color: $color-white;

    }

    &__nav{
        display: flex;
        justify-content: space-around;
        align-content: center;
        //flex-wrap: wrap;
        //padding: 0 10rem;
        //width: 100%;
        height: 9.6rem;
        
    }

    &__logobox{
        

        .img{
            width: 12rem;
            padding: 2.3rem 2rem;
        }
    }

    &-navigation__list{
        display: flex;
        list-style: none;
        align-content: center;
        padding: 3.6rem 2rem;
        //flex-wrap:wrap;
        //padding: 3.6rem 2rem;
    }
    &-navigation__item{

        &--tel{
            margin-left: 4rem;
        }
        
        &:not(:last-child){
            //margin-left: 6rem;
        }
    }

    &-navigation__link{
        text-decoration: none;
        color: $text-color;
        //font-weight: 400;
        text-transform: capitalize;
        font-size: 2.1rem;
        font-weight: 500;
        //margin-right: 3.5rem;
        transition: all .3s;
        padding: 3.6rem 2rem;
    }

    &-navigation__tel{
        display: flex;
        padding: 3.6rem 2rem;
        align-content: center;
        flex-wrap: wrap;

        i{
            font-size: 3rem;
            margin-right: 1rem;
            display: block;
            transform: rotate(-45deg);
            color: $brand-color;
        }

        &-main{
            font-size: 2.2rem;
            //font-weight: 400;
            //display: block;
        }

        &-sub{
            font-size: 1.6rem;

            .link{
                font-size: 2rem;
                text-decoration: none;
                color: $text-color;
                font-weight: 600;
            }
            //display: block;
        }

        &-block{
            display: flex;
            flex-direction: column;
            align-content: center;
        }
    }
}

.section__hero{
        background-image: linear-gradient(to top right, rgba($brand-color, 0.6), rgba($color-white, 0.6)),url('../img/hero.jpg');
        background-position: center;
        background-size: cover;
        height: 80vh;
    }
    */
.header__contact {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 4rem;
  padding: 0 20rem;
  background-color: #5ebed6; }
  .header__contact-info {
    margin-right: auto;
    display: flex;
    justify-content: space-between; }
    .header__contact-info a {
      color: #fff;
      font-size: 1.4rem;
      font-weight: 600;
      text-decoration: none;
      margin-right: 2rem;
      text-transform: capitalize; }
  .header__contact i {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 1rem; }

.header__logo-img {
  width: 25%; }

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 14rem;
  border-bottom: 1px solid #5d95d8; }
  .header__navigation-list {
    display: flex;
    justify-content: space-between; }
  .header__navigation-item {
    list-style: none; }
  .header__navigation-link {
    text-decoration: none;
    color: #373a42;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 500;
    margin-right: 5rem;
    transition: all .3s;
    white-space: nowrap; }

.footer {
  padding: 10rem 10rem 10rem; }
  .footer__block {
    display: flex;
    justify-content: space-between; }
  .footer__logo {
    width: 30rem; }
  .footer__box--one {
    width: 40%; }
  .footer__box--two {
    width: 25%; }
  .footer__box--three {
    width: 25%; }
  .footer__heading {
    font-size: 2.4rem;
    color: #293f5b;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    font-weight: 600; }
  .footer__social {
    list-style: none;
    margin-top: 2rem; }
    .footer__social-item {
      display: inline-block;
      margin-right: 1rem; }
    .footer__social-icon {
      color: #0e97a6;
      font-size: 3rem; }
  .footer__navigation {
    list-style: none; }
    .footer__navigation-item {
      padding-bottom: 1.2rem;
      text-decoration: none;
      font-size: 1.9rem;
      color: #999;
      text-transform: capitalize; }
      .footer__navigation-item i {
        margin-right: .8rem;
        color: #0e97a6;
        font-size: 1.2rem; }
    .footer__navigation-link {
      text-decoration: none;
      font-size: 1.9rem;
      color: #999;
      text-transform: capitalize; }
      .footer__navigation-link i {
        margin-right: .8rem;
        color: #0e97a6;
        font-size: 1.2rem; }

.section__hero {
  position: relative;
  background-image: linear-gradient(120deg, white 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/hero.jpg);
  background-size: cover;
  height: 75vh;
  background-position: center; }

.section-info {
  padding: 3rem 10rem; }

.section-work {
  padding: 5rem 10rem 10rem; }

.section-services {
  padding: 10rem 10rem 12rem;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-one.png);
  background-position: center;
  background-size: cover; }

.section-about {
  padding: 10rem 10rem 14rem;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../img/bg-three.png);
  background-position: center;
  background-size: cover; }

.section-strengths {
  padding: 10rem 10rem 16rem;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-two.png);
  background-position: center;
  background-size: cover; }
